In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("data.csv",header=None)

In [3]:
data.head()

     0    1    2    3    4
0    A    B    C  NaN    E
1  NaN    B  NaN  NaN    E
2  NaN  NaN    C    D    E
3    A  NaN    C    D  NaN
4    A  NaN    C  NaN    E

In [4]:
# Transformamos los registros del dataset en una lista de listas.
transactions = list()
 
for i in range(0,len(data)):
    transactions.append(data.iloc[i,:].dropna().tolist())

In [5]:
# Entrenar algoritmo apriori

In [6]:
from apyori import apriori

In [13]:
reglas = apriori(transactions, min_confidence=0.5,min_length=2)

In [14]:
results  = list(reglas)

In [15]:
rule = list()
support = list()
confidence = list()
lift = list()
 
for item in results:
    # first index of the inner list
    # Contains base item and add item
    
    pair = item[0] 
    
    items = [x for x in pair] 
    
    if(len(items) > 1):
        
        rule.append(items[0] + " -> " + items[1])
    
        #second index of the inner list
        support.append(str(item[1]))

        #third index of the list located at 0th
        #of the third index of the inner list

        confidence.append(item[2][0][2])
        lift.append(item[2][0][3])
    else:
        
        rule.append(items[0])
    
        #second index of the inner list
        support.append(str(item[1]))

        #third index of the list located at 0th
        #of the third index of the inner list

        confidence.append(item[2][0][2])
        lift.append(item[2][0][3])
        
 
output_ds  = pd.DataFrame({'rule': rule,
                           'support': support,
                           'confidence': confidence,
                           'lift': lift
                          }).sort_values(by = 'lift', ascending = False)
output_ds

      rule support  confidence      lift
9   C -> D     0.4    0.500000  1.250000
8   E -> B     0.4    1.000000  1.250000
16  C -> E     0.2    1.000000  1.250000
14  A -> C     0.2    1.000000  1.250000
13  E -> A     0.2    1.000000  1.250000
12  C -> A     0.2    1.000000  1.250000
18  C -> E     0.2    1.000000  1.250000
4   A -> C     0.6    1.000000  1.250000
1        C     0.8    0.800000  1.000000
2        E     0.8    0.800000  1.000000
0        A     0.6    0.600000  1.000000
10  E -> C     0.6    0.750000  0.937500
6   E -> A     0.4    0.666667  0.833333
5   A -> D     0.2    0.500000  0.833333
3   A -> B     0.2    0.500000  0.833333
15  E -> A     0.4    0.666667  0.833333
7   C -> B     0.2    0.500000  0.625000
11  E -> D     0.2    0.500000  0.625000
17  E -> C     0.2    0.500000  0.625000